node_modules
**/node_modules
.next
**/.next
.next-ci
**/.next-ci
.next-docker
**/.next-docker
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage
logs
**/logs
uploads
**/uploads
.pnpm-store
**/.pnpm-store
.dart_tool
**/.dart_tool
.git
.env
.env.*
!.env.example
!.env.production.example
*.log
